<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>A simple Home Page</h1>
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <a href="/login" class="btn btn-primary"
          ><span class="fa fa-github-plus"></span> Login</a
        >
      </div>
    </div>
  </body>
</html>
